<mat-card>
    <mat-card-header class="app-match-card__title">
        <mat-card-title>
            {{ matchHighlight.title }}
        </mat-card-title>
        <mat-card-subtitle class="app-match-card__competition">
            {{ matchHighlight.competition.name }}
        </mat-card-subtitle>
    </mat-card-header>
    <img class="app-match-card__thumbnail" [src]="matchHighlight.thumbnail" />
    <mat-card-actions>
        <!-- <a class="app-match-card__link" [href]="matchHighlight.url" target="_blank"
            ><button mat-icon-button color="accent" aria-label="Open link"><mat-icon>open_in_browser</mat-icon></button></a
        > -->
        <a class="app-match-card__link" [href]="matchHighlight.url" target="_blank"
            ><button mat-button color="accent" aria-label="Open link">Open</button></a
        >
    </mat-card-actions>
</mat-card>
