$toolbarOffset: 64px;
app-match-feed {
    width: 100%;
    padding-top: $toolbarOffset;
    height: calc(100% - #{$toolbarOffset});
    width: 100%;
}
app-toolbar {
    position: fixed;
    width: 100%;
    margin-bottom: 1.5vh;
    z-index: 1;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}
